@font-face {
    font-family: "Century Gothic";
    src: url("Font/ufonts.com_century-gothic.ttf");
}
html, body {
    width:100%;
    margin:0;
    height:0;
    padding:0;
    color: #FFFFFF;
    background-color: #323338;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    font-family: Century Gothic,
                "Century Gothic",
                Avenir;
}

#accueil{
    margin: 5px 0px 5px 0px;
    background-color: #111111;
    text-align: center;
    font-size: 40px;
    height: 55px;
    width: 100%;
}
#emerror{
    color: #ea1f01;
}
#emok{
    color: #0064f4;
}

#divtitre{
    margin: 15px 0px 0px 0px;
    background-color: #323338;
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.inscription{
    height: 50px;
}
.imageAccueil{
    height: 300px;
    width: 300px;
}

#connexion{
     margin-top: 10px;
     margin-bottom: 20px;
     margin-left: auto;
     margin-right: auto;
     background-color: #111111;
     height: auto;
     width: 70%;
     border-radius: 15px;
     text-align: center;
     font-size: 30px;
 }
#title hr{
    width: 80%;
}
#formulaireCo{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    background-color: #111111;
    text-align: left;
    font-size: 15px;
    width: 75%;
}
.lienInd{
    text-decoration: none;
}
.lienInd:hover{
    color: #DD910A;
}
.buttonCoIndex{
    margin-top: 7px;
    width: 130px;
    border-radius: 15px;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    border-bottom-color: #2fc190;
    background-color: #2ea070;
}
.boutonInsReg{
    margin-top: 7px;
    width: 130px;
    border-radius: 15px;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    border-bottom-color: #00b8e5;
    background-color: #0097bd;
}

.alerterror{
    background-color: #ea1f01;
    color: #000011;
    height: auto;
    width: 75%;
    font-size: 12px;
    margin: 0px auto 0px auto;
    border-radius: 5px;
    padding-left: 3px;
}
.inscriptionok{
    margin: 0px 0px 0px 0px;
    background-color: #0064f4;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: auto;
    color: #FFFFFF;
}
.connexionerror{
    margin: 0px 0px 0px 0px;
    background-color: #ea1f01;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: auto;
    color: #FFFFFF;
}
.connexionok{
    margin: 0px 0px 0px 0px;
    background-color: #00cf48;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: auto;
    color: #FFFFFF;
}
.barrenom{
    margin: 0px auto 0px auto;
    background-color: #2fc190;
    text-align: center;
    font-size: 15px;
    width: 80%;
    height: auto;
    color: #FFFFFF;
    border-radius: 15px;
    padding-bottom: 2px;
}
.barrenom a{
    text-decoration: none;
    color: #FFFFFF;
}
.barrenom a:hover{
    color: #0064f4;
}
.entree{
    background-color: #111111;
    color: #FFFFFF;
    width: 230px;
    border-bottom-color: #2fc190;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
}
.entreeIns{
    background-color: #111111;
    color: #FFFFFF;
    width: 230px;
    border-bottom-color: #00b8e5;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
}
#listeFond{
    background-color: #444444;
    color: #FFFFFF;
    width: 80%;
    margin: 15px auto 0px auto;
    border-radius: 15px;
    height: auto;
}
#listeTitre{
    background-color: #444444;
    color: #FFFFFF;
    width: 100%;
    margin: 15px auto 0px auto;
    border-radius: 15px;
    height: auto;
    text-align: center;
}
#listeTitre hr{
    width: 90%;
}
#liste{
    background-color: #444444;
    color: #FFFFFF;
    width: 100%;
    margin: 15px auto 0px auto;
    border-radius: 15px;
    height: auto;
    text-align: center;
}
/*------------BarreMenu---------------*/
.barrenom{
    margin: 0px auto 0px auto;
    background-color: #222222;
    text-align: center;
    font-size: 15px;
    width: 80%;
    height: auto;
    color: #FFFFFF;
    border-radius: 15px;
    padding-bottom: 2px;
}
.barrenom a{
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 5px;
}
.barrenom a:hover{
    color: #0064f4;
}

.ImageMenu{
    height: 15px;
    width: 15px;
    vertical-align: middle;
}
/*---------------Header---------------*/
#header{
    margin: 0px auto 0px auto;
    background-color: #333333;
    text-align: right;
    font-size: 14px;
    height: auto;
    width: 100%;
    height: 20px;
    padding-right: 0px;
    padding-bottom: 5px;
}
.boutonDeco{
    text-decoration: none;
    color: #ffffff;
    padding-right: 10%;
}
.boutonDeco:hover{
    color: #DD910A;
}

.nom{
    text-decoration: none;
    color: #FFFFFF;
}
.nom:hover{
    color: #0064f4;
}

/*---------------Footer---------------*/
#footer{
    margin: 10px auto 0px auto;
    background-color: #222222;
    text-align: center;
    font-size: 9px;
    height: auto;
    width: 50%;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    bottom: 0;
}
